.formCard {
    width: 250px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 15px 15px;
    flex-direction: row;
    justify-content: space-between;
}

.imgCard {
    width: 250px;
    border-radius: 20px;
}

.formCards {
    display: flex;

}
