.main-page__submit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  row-gap: 18px;
  max-width: 355px;
  padding: 18px 10px;
  border: 3px dashed #353535;
  border-radius: 5px;
  font-size: 18px;
}

.submit-form__item {
  position: relative;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.submit-form__item:last-child {
  padding: 0;
  background-color: unset;
}

.name-container__input,
.species-container__select,
.birth-date-container__input,
.image-container__input,
.agreement-container__input {
  margin-left: 5px;
}

.name-container__input,
.species-container__select {
  padding: 2px;
  font-family: inherit;
  font-size: 16px;
}

.submit-form__error,
.submit-form__message {
  position: absolute;
  bottom: -17px;
  left: 6px;
  font-family: initial;
  font-size: 14px;
  color: #f80000;
}

.submit-form__error {
  color: #f80000;
}

.submit-form__message {
  font-weight: 550;
  color: #009900;
  animation: appear-hide 1.5s;
}

@keyframes appear-hide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.status-container__label,
.gender-container__label {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 23px;
  margin: 0 55px 0 50px;
  cursor: pointer;
}

.status-container__label {
  margin: 0 55px 0 50px;
}

.gender-container__label {
  margin: 0 70px 0 50px;
}

.status-container__label::before,
.gender-container__label::before {
  position: absolute;
  left: -50px;
  top: 3px;
}

.status-container__label::before {
  content: 'Alive';
}

.gender-container__label::before {
  content: 'Male';
}

.status-container__label::after,
.gender-container__label::after {
  position: absolute;
  top: 3px;
}

.status-container__label::after {
  content: 'Dead';
  right: -54px;
}

.gender-container__label::after {
  content: 'Female';
  right: -70px;
}

.swithcer-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: #a5a5a5;
  transition: 0.4s;
  cursor: pointer;
}

.swithcer-circle::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2.8px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
}

.status-container__input:checked + .swithcer-circle,
.gender-container__input:checked + .swithcer-circle {
  background-color: #2196f3;
}

.status-container__input:checked + .swithcer-circle::before,
.gender-container__input:checked + .swithcer-circle::before {
  transform: translateX(24px);
}

.status-container__input,
.gender-container__input {
  opacity: 0;
  width: 0;
  height: 0;
}
