@media (max-width: 768px) {
  .App > .main {
    min-height: calc(100vh - 125px);
    height: fit-content;
  }
}

@media (max-width: 475px) {
  .App > .main {
    min-height: calc(100vh - 169px);
    height: fit-content;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 76px);
  height: fit-content;
}

.bg {
   width: 50rem;
   max-width: 100%;
   height: auto;
   display: block;
   margin: 0 auto;
 }
