.cardimg {
  width: 250px;
  height: 250px;
  border-radius: 7px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.card:hover {
  background-color: grey;
}
.card {
  width: 250px;
  height: 400px;
  margin: 15px;
  border: 2px wheat solid;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
  background-color: #7d8996;
}

.card p {
  color: black;
  padding: 5px;
}

.card h5 {
  color: aqua;
  padding: 5px;
}
.title_prod {
  margin-top: 30px;
}
