.aboutPage {
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.about-page__greeting {
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutPage__img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.aboutPage__text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #124d53;
  margin: 2rem 0;
}

@media (max-width: 400px) {
  .aboutPage {
    font-size: 0.8rem;
    font-weight: 300;
    color: #124d53;
  }
}
