.layout {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20.8rem;
  border-radius: 2rem;
  overflow: hidden;
  background: #c4cdce;
  padding: 2rem;

  &__btn {
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    color: #124d53;
    background: transparent;
  }
}

.person {
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
    border-radius: 50%;
    max-width: 25rem;
    align-self: center;
    margin-bottom: 2rem;
  }

  &__name {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: #13acc9;
    margin-bottom: 1rem;
  }

  &__type {
    font-size: 1.4rem;
    font-weight: 400;
    color: #26566d;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 300;
    color: #124d53;
  }
}
