@media (max-width: 930px) {
  .header {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 300px) {
  .App > .header {
    font-size: 23px;
  }

  .header > .header__logo::before {
    top: -3px;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
}

.header__logo {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  content: '';
  width: 175px;
  height: 45px;
  background-image: url('../../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
