@import '../../scss/mixins';
@import '../../scss/variables';

.header {
  &__container {
    padding: 2rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  &__bg {
    width: 90rem;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  &__logo {
    max-width: 20rem;
    width: 100%;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 3rem;

    @media (max-width: 470px) {
      margin-right: 1.5rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include font(3rem, 500, $text-color-main);
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      color: $secondary-color;
    }

    @media (max-width: 520px) {
      @include font(2.4rem, 500, $text-color-main);
    }

    @media (max-width: 470px) {
      @include font(1.8rem, 400, $text-color-main);
    }
  }
}
