.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 1rem 3rem;
}
.footer__logo {
  max-width: 40rem;
  width: 100%;
  margin: 0 1rem;
}

.ghLogo {
  max-width: 5rem;
}

.rssLogo {
  max-width: 6rem;
}
