.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 1rem 3rem;
}

.footer__logo {
  max-width: 20rem;
  width: 100%;
  margin: 0 1rem;
}

@media (max-width: 570px) {
  .footer__logo {
    max-width: 15rem;
  }
}

@media (max-width: 490px) {
  .footer__logo {
    max-width: 10rem;
  }
}

.ghLogo {
  max-width: 6rem;
}

@media (max-width: 375px) {
  .ghLogo {
    max-width: 4rem;
  }
}

.rssLogo {
  max-width: 8rem;
}

@media (max-width: 375px) {
  .rssLogo {
    max-width: 5rem;
  }
}
