.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 1rem 3rem;

  &__logo {
    max-width: 30rem;
    width: 100%;
    margin: 0 1rem;

    @media (max-width: 570px) {
      max-width: 20rem;
    }

    @media (max-width: 490px) {
      max-width: 15rem;
    }

    @media (max-width: 470px) {
      max-width: 10rem;
    }
  }
}

.ghLogo {
  max-width: 8rem;

  @media (max-width: 375px) {
    max-width: 4rem;
  }
}

.rssLogo {
  max-width: 10rem;

  @media (max-width: 375px) {
    max-width: 5rem;
  }
}
