@import '../../scss/mixins';
@import '../../scss/variables';

.usersPage {
  position: relative;
  margin-bottom: 3rem;
  padding: 0 1rem;

  &__title {
    @include font(3.6rem, 700, $text-color-main);
    margin: 0 0 2rem 4rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 15%;

  @media (max-width: 470px) {
    padding: 0 1rem;
  }

  &__title {
    @include font(2.4rem, 500, $text-color-main);
    margin-bottom: 1rem;
  }

  &__text {
    @include font(1.6rem, 400, $text-color-main);
    margin-bottom: 0.5rem;

    &_error {
      color: red;
    }
  }

  &__group {
    margin-bottom: 1.5rem;

    &_switch {
      display: flex;
      align-items: center;

      & > p:first-child {
        margin-right: 1rem;
        margin-bottom: 0;
      }

      & > p:last-child {
        margin-left: 1rem;
        margin-bottom: 0;
      }
    }
  }

  &__input {
    padding: 0.5rem 3rem;
    background: $primary-color;
    border-radius: 5rem;
    border: 0.2rem solid $primary-color;
    outline: 0;
    @include font(2rem, 500, $text-color-main);
    box-shadow: $main-shadow;
    transition: all 0.2s ease-in;

    &:hover {
      border: 0.2rem solid $text-color-main;
    }

    &:focus {
      border: 0.2rem solid $secondary-color;
    }

    @media (max-width: 350px) {
      width: 100%;
    }
  }

  &__btn {
    background: $secondary-color;
    @include font(2rem, 500, $text-color-main);
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    transition: all 0.2s ease-in;
    box-shadow: $main-shadow;

    &:hover {
      background: darken($color: $secondary-color, $amount: 10);
    }

    &:disabled {
      cursor: default;
      background: darken($color: $secondary-color, $amount: 10);
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch__slider {
      background-color: $secondary-color;
    }

    &:checked + .switch__slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background-color: $text-color-main;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $text-color-main;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $secondary-color;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

.check {
  width: 8rem;
  position: relative;
  padding-left: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;

  & > p {
    margin-left: 1.2rem;
    margin-bottom: 0;
  }

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked + .check__box {
      background-color: $secondary-color;
      background-image: url('../../img/checking-mark.svg');
    }
  }

  &__box {
    position: absolute;
    margin-left: -1.2em;
    width: 2em;
    height: 2em;
    background: $text-color-main;
    border: 2px solid $secondary-color;
    border-radius: 3px;
  }
}

.file {
  position: relative;
  margin-bottom: 3rem;

  &__text {
    margin-bottom: 1rem;
  }

  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    text-align: center;
    @include font(3.6rem, 500, $text-color-main);
  }
}
