* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #d1d94f;
  font-family: Josefin, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: #353535;
}

#modal-root {
  position: relative;
  z-index: 1000;
}
