// colors
$primary-color: #7d8996;
$primary-color-dark: #192228;
$secondary-color: #66a43f;
$element-color: #28566d;
$text-color-main: #fff;
$text-color-secondary: #d8cb98;

//shadow
$main-shadow: 0.5rem 0.5rem 0.5rem -0.5rem rgba(0, 6, 11, 0.6);
