@import '../../scss/mixins';
@import '../../scss/variables';

.notFoundPage {
  margin-bottom: 3rem;
  padding: 0 1rem;
  text-align: center;

  &__title {
    @include font(3.6rem, 700, $text-color-main);
  }

  &__text {
    @include font(2.4rem, 400, $text-color-main);
  }

  &__img {
    max-width: 40rem;
    width: 100%;
    margin: 0 1rem;
  }
}
